<!doctype html>
<html ng-app="todo">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<!-- <script type="text/javascript" src="https://sandbox.pactas.com/selfService/iterojs"></script> -->
		<script type="text/javascript" src="http://itero.demo.pactas.com/selfService/iterojs"></script>
		<script type="text/javascript" src="http://127.0.0.1:5000/app.js"></script>
		<link href="http://127.0.0.1:5000/styles.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js"></script>
	</head>
	<body>
		<div id="div" ng-controller="RegistrationController">
			<p></p>
			<p> Personal Information </p>
			<input id="email" required type="email" ng-model="yourEmail" placeholder="Enter your email">
			<input id="password" required type="password" ng-model="yourPass" placeholder="Enter your password">
			<input id="company" required type="text" ng-model="yourCompany" placeholder="Enter your company">
			<input id="fName" required type="text" ng-model="yourFName" placeholder="Enter your first name">
			<input id="lName" required type="text" ng-model="yourLName" placeholder="Enter your last name">
			<p> Choose your title </p>
			<div>
				<select ng-model="title" ng-change="Title(title)" ng-options="title for title in titles" required="required">
				<option class="" value=""></option>
				</select>
			</div>
			<p> Choose your plan </p>
			<div>
				<i class="icon icon-info-sign" title="S - Small plan is just for 10 todo items, where as L - Large gives you unlimited number of todos. You can downgrade from L to S within the first 7 days of registration, where as upgrade is possible at any time"></i>
				<select ng-model="plan" ng-change="Plan(plan)" ng-options="plan for plan in plans" required="required">
				<option class="" value=""></option>
				</select>
			</div>
			<p> Payment Information </p>
			<p></p>
			<div>
			    <div>
			        Select Payment Method:
			        <p></p>
			        <select ng-model="paymentMethod" ng-change="Payment(paymentMethod)" ng-options="payment for payment in payments" required="required">
			        	<option class="" value=""></option>
			        </select>
			    </div>
			</div>
			<p></p>
			<input ng-show="credit" id="nameOnCard" type="text" ng-model="yourNameOnCard" placeholder="Enter name on card">
			<input ng-show="credit" id="number" maxlength="16" type="text" ng-model="yourCardNumber" placeholder="Enter your card number">
			<input ng-show="credit" id="cvc" type="text" ng-model="yourCVC" placeholder="Enter your CVC">
			<p ng-show="credit"> Valid until</p>
			<select ng-show="credit" ng-model="month" ng-options="month for month in months" required="required">
				<option class="" value="">
			</select>
			<p></p>
			<select ng-show="credit" ng-model="year" ng-change="validity(month,year)" ng-options="year for year in years" required="required">
				<option class="" value="">
			</select>
			<input required ng-if="credit == false" type="text" ng-model="$parent.accountOwner" placeholder="Enter the owner of account">
			<p></p>
			<input required ng-if="credit == false" type="text" ng-model="$parent.BIC" placeholder="Enter the BIC of account">
			<p></p>
			<input required ng-if="credit == false" type="text" ng-model="$parent.IBAN" placeholder="Enter the IBAN of account">
			<p></p>
			<input required ng-if="credit == false" type="text" ng-model="$parent.bankNo" placeholder="Enter the bank account number">
			<p></p>
			<button class="btn-primary" ng-click="register()">Register</button>
			<p></p>
			<button class="btn-primary" ng-click="goBack()">Go back</button>
		</div>
	</body>
</html>